<!DOCTYPE html>
<header>
  <div class="header">
    <a href="#default" class="logo">JUST FOR KICKS</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact"></a>
      <a href="#about">Login</a>
    </div>
  </div>
</header>
