<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <link rel="stylesheet" href="/new.css">

  </head>
  <body>
<h1>Add to your Closet</h1>
<form action="/kicks" method="POST" class="form" >
  <input type="hidden" name="user" value="<%=currentUser.username%>"> <!-- learned this from Kaylee -->
  Name: <input type="text" name="name" placeholder="Sneaker Name" class="name" /><br/>
  Brand: <input type="text" name="brand" placeholder="Brand Name" class="brand" /><br/>
  Release Date: <input type="date" name="date" class="date" /><br/>
  Image: <input type="text" name="image" placeholder="Photo Address" class="image" /><br/>
  Price: <input type="number" name="price" placeholder="Price" class="price" ><br/>
  Did you Cop?: <input type="checkbox" name="purchased" class="check" ><br/>
  Make Public?: <input type="checkbox" name="public" class="check"><br/>
<input type="submit" value="Add to Closet"><br/>
</form>

<nav>
  <a href="/kicks">Back to Your Closet</a>
</nav>

  </body>
</html>
