<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>What are we Copping Today?</h1>
<form action="/kicks" method="POST">
  Name: <input type="text" name="name" placeholder="Sneaker Name" /><br/>
  Brand: <input type="text" name="brand" placeholder="Brand Name" /><br/>
  Release Date: <input type="date" name="date"><br/>
  Image: <input type="text" name="image" placeholder="Photo Address"><br/>
  Price: <input type="number" name="price" placeholder="Price"><br/>
  Did you Cop?: <input type="checkbox" name="purchase" name="purchased"><br/>
<input type="submit" value="Add to Closet"><br/>
</form>

  </body>
</html>
