<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/show.css">


  </head>
  <body>
    <h1>Collection</h1>

  <h3 class="name">  <%=kicks.name; %> </h3>
<h3><%=kicks.brand; %></h3>
  <h3>Price $<%=kicks.price; %> </h3>

    <img src="<%=kicks.image; %>" alt="Photo of your sneaks">
    <% if(kicks.purchased === true){ %>
              <h3>  In your closet. </h3>
            <% } else { %>
              <h3>  You still gotta find these. </h3>
            <% } %>
    <% if(kicks.public === true){ %>
              <h3> Public Timeline </h3>
            <% } else { %>
              <h3> Only in your closet </h3>
                    <% } %>

<nav>
  <a href="/kicks">Back to Your Closet</a><br/>
</nav>
  </body>
</html>
