<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Collection</h1>

    <%=kicks.name; %>

  <h3>Price = <%=kicks.price; %> </h3>

    <img src="<%=kicks.image; %>" alt="Photo of your sneaks">
    <% if(kicks.purchased === true){ %>
              <h3>  In your closet. </h3>
            <% } else { %>
              <h3>  You still gotta find these. </h3>
            <% } %>

<nav>
  <a href="/kicks">Back to Your Closet</a>
</nav>
  </body>
</html>
