.sneakers {
  display: inline-block;
  margin: 20px;
}

.body {
  align-content: center;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-70deg, #fa7c30 30%, rgb(49, 49, 49) 30%);
}

nav {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.delete {
  padding: 10px;
}

a {
  background-color: black;
  text-transform: uppercase;
  color: rgb(250, 124, 49);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.name {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

h2 {
  font-size: 35px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

h1 {
  font-size: 45px;
  text-align: center;
  background-color: white;
  border-left: 25%;
  border-right: 25%;
  border-radius: 15px;
}

.shoes {
  height: 15em;
  width: 15em;
  border-radius: 25px;
  padding: 10px;
}

.pic {
  height: 15em;
  width: 15em;
  align-self: center;
  border-radius: 25px;
}

.pic-ctn {
  width: 200vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  width: 150vw;
  height: 200px;
  margin-top: vh;
}

.pic-ctn > img {
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 25s infinite;
}

img:nth-child(2) {
  animation-delay: 5s;
}
img:nth-child(3) {
  animation-delay: 10s;
}
img:nth-child(4) {
  animation-delay: 15s;
}
img:nth-child(5) {
  animation-delay: 20s;
}
